@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

$border: 3px solid black;
$header-bkg: #930077;
$main-bkg: #3a0088;
$footer-bkg: #e61c5d;
$writing-text: #ffbd39;

* {
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

body {
    font-size: 16px;
}

main {
    position: relative;
    width: 1006px; height: 906px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: $border;

    #rules-opener {
        z-index: 999;
        position: absolute;
        left: 50%; top: 66%;
        transform: translate(-50%, -50%);
        width: 40px; height: 40px;
        background: url(../images/help_white_24dp.svg) center / cover no-repeat;
        cursor: pointer;

        &:hover {
            transform: translate(-50%, -50%) scale(1.3);
            background: url(../images/help_outline_white_24dp.svg) center / cover no-repeat;
        }
    }

    #rules{
        display: none;
        background: rgba(0, 0, 0, .6);
        z-index: 1000;
        position: absolute;
        width: 100%; height: 100%;
        top: 0; left: 0;
        // display: flex;
        justify-content: center;

        #rules-text {
            background: rgba(255, 255, 255, .8);
            border-radius: 10px;
            position: absolute;
            width: 479.14px;
            top: 25%;
            padding: 1.5rem 2rem;
            line-height: 1.7;
            text-shadow: 1px 1px rgba(0, 0, 0, 0.3);

            #close-rules {
                width: 33px; height: 33px;
                position: absolute;
                right: 5px; top: 5px;
                background: url(../images/cancel_black_24dp.svg) center / cover no-repeat;
                cursor: pointer;
            }

            li::before {
                content: "";
                display: inline-block;
                width: 18px; height: 18px;
                background: url(../images/smart_toy_black_24dp.svg) center / cover no-repeat;
                margin-right: .5rem;
                vertical-align: middle;
            }
            
        }
    }

    #btn {
        z-index: 999;
        position: absolute;
        left: 50%; top: 50%;
        transform: translate(-50%, -50%);
        font-size: 3rem;
        padding: 1rem 2rem;
        border-radius: 20px;
        border: none;
        box-shadow: 0 0 5px 10px rgba($footer-bkg , .5);
        background: $writing-text;
        transition: all .1s ease-in-out;
        cursor: pointer;
        color: white;
        font-weight: bold;

        &:hover {
            box-shadow: 0 0 5px 10px rgba(white, .8);
            color: $writing-text;
            background: $footer-bkg;
            transform: translate(-50%, -50%) scale(1.3);
        }
    }

    header {
        background: $header-bkg;
        height: 100px;
        border-bottom: $border;
        display: flex;
        flex-flow: row wrap;

        > * {
            padding: 0 8rem;
            width: 50%;
            line-height: 48.5px;
            font-size: 1.3rem;
            font-weight: bold;
            color: $writing-text;
            text-shadow: 1px 1px rgba(255, 255, 255, .9);
        }
        #score, #best-score {
            text-align: right;
        }
        #best-score, #best-level {
            text-shadow: 1px 1px white;}
    }

    footer {
        height: 100px;
        background-color: $footer-bkg;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #paddle {
            width: 200px; height: 25px;
            position: absolute;
            left: 50%; top: 0;
            transform: translate(-50%);
            background-color: white;
            border: $border;
            text-align: center;
            color: black;
        }

        #hits, #best-hits {
            display: inline;
            font-weight: bold;
            color: $writing-text;
            text-shadow: 1px 1px $main-bkg;
        }

        #hits {
            font-size: 1.1rem;
            padding: 1rem 0;
        }

        #best-hits {
            font-size: 1.3rem;
            text-shadow: 2px 2px $main-bkg;
        }
    }
}

#blocks-and-ball {
    background: $main-bkg;
    flex: 1;
    position: relative;

    #blocs {
        position: absolute;
        display: grid;
        width: 100%; height: 145px;
        justify-content: center;
        align-content: flex-end;
        grid-template-columns: repeat(5, 150px);
        column-gap: 30px;
        grid-template-rows: repeat(3, 25px);
        row-gap: 30px;

        .bloc {
            text-align: center;
            background: lime; //CREER UN CLASSE ACTIVE SUR LES BLOCS VIA JS ???
            border: 2px solid black;
        }

        .bloc1, .bloc2, .bloc3, .bloc4, .bloc5{
            grid-row-start: 1;
            grid-row-end: 1;
        }
        .bloc6, .bloc7, .bloc8, .bloc9, .bloc10 {
            grid-row-start: 2;
            grid-row-end: 2;
        }
        .bloc11, .bloc12, .bloc13, .bloc14, .bloc15 {
            grid-row-start: 3;
            grid-row-end: 3;
        }

        .bloc1 {
            grid-column-start: 1;
            grid-column-end: 2;
        }
        .bloc2 {
            grid-column-start: 2;
            grid-column-end: 3;
        }
        .bloc3 {
            grid-column-start: 3;
            grid-column-end: 4;
        }
        .bloc4 {
            grid-column-start: 4;
            grid-column-end: 5;
        }
        .bloc5 {
            grid-column-start: 5;
            grid-column-end: 6;
        }
        .bloc6 {
            grid-column-start: 1;
            grid-column-end: 2;
        }
        .bloc7 {
            grid-column-start: 2;
            grid-column-end: 3;
        }
        .bloc8 {
            grid-column-start: 3;
            grid-column-end: 4;
        }
        .bloc9 {
            grid-column-start: 4;
            grid-column-end: 5;
        }
        .bloc10 {
            grid-column-start: 5;
            grid-column-end: 6;
        }
        .bloc11 {
            grid-column-start: 1;
            grid-column-end: 2;
        }
        .bloc12 {
            grid-column-start: 2;
            grid-column-end: 3;
        }
        .bloc13 {
            grid-column-start: 3;
            grid-column-end: 4;
        }
        .bloc14 {
            grid-column-start: 4;
            grid-column-end: 5;
        }
        .bloc15 {
            grid-column-start: 5;
            grid-column-end: 6;
        }
    }

    #ball {
        width: 20px; height: 20px;
        border-radius: 50%;
        border: 1px solid white;
        background-color: $writing-text;
        position: absolute;
    }
}